#gamepads .controller {
  background-image: none;
  background-color: #000000;
  border-radius: 10px;
  width: 456px;
  height: 48px;
}

#gamepads .controller .abxy {
  position: absolute;
  width: 456px;
  height: 48px;
  top: 10px;
  left: 10px;
}

#gamepads .controller .abxy .button {
  position: absolute;
  background-image: none;
  top: 0;
  height: 24px;
  width: 72px;
  border: #ffffff 2px solid;
  border-radius: 2px;
  background-color: transparent;
}

#gamepads .controller .abxy .button.pressed {
  margin-top: 0;
}

#gamepads .controller .abxy .button.a {
  left: 0;
  border-color: #EA5352;
}

#gamepads .controller .abxy .button.a.pressed {
  background-color: #EA5352;
}

#gamepads .controller .abxy .button.b {
  left: calc( ( 72px + 2px * 2 + 2px ) * 1);
  border-color: #6ADE72;
}

#gamepads .controller .abxy .button.b.pressed {
  background-color: #6ADE72;
}

#gamepads .controller .abxy .button.x {
  left: calc( ( 72px + 2px * 2 + 2px ) * 2);
  border-color: #7CC2EF;
}

#gamepads .controller .abxy .button.x.pressed {
  background-color: #7CC2EF;
}

#gamepads .controller .abxy .button.y {
  left: calc( ( 72px + 2px * 2 + 2px ) * 3);
  border-color: #FCFA90;
}

#gamepads .controller .abxy .button.y.pressed {
  background-color: #FCFA90;
}

#gamepads .controller .bumpers {
  position: absolute;
  width: 456px;
  height: 48px;
  top: 10px;
  left: 10px;
}

#gamepads .controller .bumpers .bumper {
  position: absolute;
  background-image: none;
  opacity: 1;
  border: #ffffff 2px solid;
  border-radius: 2px;
  background-color: transparent;
}

#gamepads .controller .bumpers .bumper.left {
  top: 0;
  height: 24px;
  width: 72px;
  left: calc( ( 72px + 2px * 2 + 2px ) * 4);
  border-color: #EF8EE7;
}

#gamepads .controller .bumpers .bumper.left.pressed {
  background-color: #EF8EE7;
}

#gamepads .controller .bumpers .bumper.right {
  opacity: 1;
  left: 392px;
  top: 0;
  height: 11px;
  width: 40px;
}

#gamepads .controller .bumpers .bumper.right.pressed {
  background-color: white;
}

#gamepads .controller .triggers {
  position: absolute;
  width: 456px;
  height: 48px;
  top: 10px;
  left: 10px;
}

#gamepads .controller .triggers .trigger {
  display: none;
}

#gamepads .controller .triggers .trigger-button {
  position: absolute;
  background-image: none;
  opacity: 1;
  height: 11px;
  width: 40px;
  border: #ffffff 2px solid;
  border-radius: 0 0 2px 2px;
  background-color: transparent;
}

#gamepads .controller .triggers .trigger-button.left {
  opacity: 1;
  left: 392px;
  top: 13px;
}

#gamepads .controller .triggers .trigger-button.left.pressed {
  background-color: white;
}

#gamepads .controller .triggers .trigger-button.right {
  display: none;
}

#gamepads .controller .sticks {
  display: none;
}

#gamepads .controller .arrows, #gamepads .controller .touchpad, #gamepads .controller .quadrant, #gamepads .controller .wheels, #gamepads .controller .dpad, #gamepads .controller .fstick {
  display: none;
}
