#gamepads .controller {
  background-image: none;
  background-color: #000000;
  border-radius: 10px;
  width: 480px;
  height: 72px;
}

#gamepads .controller .abxy {
  position: absolute;
  width: 480px;
  height: 72px;
  top: 10px;
  left: 10px;
}

#gamepads .controller .abxy .button {
  position: absolute;
  background-image: none;
  top: 0;
  height: 48px;
  width: 72px;
  border: #ffffff 2px solid;
  border-radius: 2px;
  background-color: transparent;
}

#gamepads .controller .abxy .button.pressed {
  margin-top: 0;
}

#gamepads .controller .abxy .button.a {
  left: 0;
  border-color: #EA5352;
}

#gamepads .controller .abxy .button.a.pressed {
  background-color: #EA5352;
}

#gamepads .controller .abxy .button.b {
  left: 78px;
  border-color: #6ADE72;
}

#gamepads .controller .abxy .button.b.pressed {
  background-color: #6ADE72;
}

#gamepads .controller .abxy .button.x {
  left: 156px;
  border-color: #7CC2EF;
}

#gamepads .controller .abxy .button.x.pressed {
  background-color: #7CC2EF;
}

#gamepads .controller .abxy .button.y {
  left: 234px;
  border-color: #FCFA90;
}

#gamepads .controller .abxy .button.y.pressed {
  background-color: #FCFA90;
}

#gamepads .controller .bumpers {
  position: absolute;
  width: 480px;
  height: 72px;
  top: 10px;
  left: 10px;
}

#gamepads .controller .bumpers .bumper {
  position: absolute;
  background-image: none;
  opacity: 1;
  border: #ffffff 2px solid;
  border-radius: 2px;
  background-color: transparent;
}

#gamepads .controller .bumpers .bumper.left {
  top: 0;
  height: 48px;
  width: 72px;
  left: 312px;
  border-color: #EF8EE7;
}

#gamepads .controller .bumpers .bumper.left.pressed {
  background-color: #EF8EE7;
}

#gamepads .controller .bumpers .bumper.right {
  opacity: 1;
  left: 393px;
  top: 0;
  height: 23px;
  width: 44px;
}

#gamepads .controller .bumpers .bumper.right.pressed {
  background-color: white;
}

#gamepads .controller .triggers {
  position: absolute;
  width: 480px;
  height: 72px;
  top: 10px;
  left: 10px;
}

#gamepads .controller .triggers .trigger {
  display: none;
}

#gamepads .controller .triggers .trigger-button {
  position: absolute;
  background-image: none;
  opacity: 1;
  height: 23px;
  width: 44px;
  border: #ffffff 2px solid;
  border-radius: 0 0 2px 2px;
  background-color: transparent;
}

#gamepads .controller .triggers .trigger-button.left {
  opacity: 1;
  left: 393px;
  top: 25px;
}

#gamepads .controller .triggers .trigger-button.left.pressed {
  background-color: white;
}

#gamepads .controller .triggers .trigger-button.right {
  display: none;
}

#gamepads .controller .dpad {
  position: absolute;
  width: 480px;
  height: 72px;
  top: 10px;
  left: 10px;
}

#gamepads .controller .dpad .face {
  position: absolute;
  background-image: none;
  background-repeat: no-repeat;
  opacity: 1;
  height: 42px;
  width: 31px;
  left: 446px;
}

#gamepads .controller .dpad .face.up {
  top: 0;
  display: block;
  background-size: 18px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20id%3D%22w%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2051%2071%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%2337b823%3Bstroke%3A%23f2f2f2%3Bstroke-miterlimit%3A10%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%2225.43%201.85%2049.44%2025.86%2049.44%2048.85%2035.44%2034.85%2035.44%2069.86%2015.44%2069.86%2015.44%2034.85%201.52%2048.85%201.52%2025.86%2025.43%201.85%22%2F%3E%3C%2Fsvg%3E");
  filter: grayscale(100%) brightness(30%);
}

#gamepads .controller .dpad .face.up.pressed {
  filter: none;
}

#gamepads .controller .dpad .face.down {
  display: block;
  top: 27px;
  background-size: 18px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20id%3D%22w%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2051%2071%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%234b8fff%3Bstroke%3A%23f2f2f2%3Bstroke-miterlimit%3A10%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%2225.43%2069.86%2049.44%2045.85%2049.44%2022.86%2035.44%2036.85%2035.44%201.85%2015.44%201.85%2015.44%2036.85%201.52%2022.86%201.52%2045.85%2025.43%2069.86%22%2F%3E%3C%2Fsvg%3E");
  filter: grayscale(100%) brightness(30%);
}

#gamepads .controller .dpad .face.down.pressed {
  filter: none;
}

#gamepads .controller .arrows, #gamepads .controller .touchpad, #gamepads .controller .quadrant, #gamepads .controller .sticks, #gamepads .controller .wheels, #gamepads .controller .fstick {
  display: none;
}
