@charset "UTF-8";
#gamepads .controller {
  background-image: none;
  width: 350px;
  height: 100px;
}

#gamepads .controller .abxy {
  position: absolute;
  width: 300px;
  height: 80px;
  top: 10px;
  left: 10px;
}

#gamepads .controller .abxy .button {
  position: absolute;
  background-image: none;
  top: 0;
  height: 15px;
  width: 45px;
  border: #ffffff 2px solid;
  border-radius: 2px;
  background-color: transparent;
}

#gamepads .controller .abxy .button.pressed {
  margin-top: 0;
}

#gamepads .controller .abxy .button.a {
  left: 0;
  border-color: #ff8888;
}

#gamepads .controller .abxy .button.a.pressed {
  background-color: #ff8888;
}

#gamepads .controller .abxy .button.b {
  left: 50px;
  border-color: #88ff88;
}

#gamepads .controller .abxy .button.b.pressed {
  background-color: #88ff88;
}

#gamepads .controller .abxy .button.x {
  left: 100px;
  border-color: #8888ff;
}

#gamepads .controller .abxy .button.x.pressed {
  background-color: #8888ff;
}

#gamepads .controller .abxy .button.y {
  left: 150px;
  border-color: #ffff88;
}

#gamepads .controller .abxy .button.y.pressed {
  background-color: #ffff88;
}

#gamepads .controller .bumpers {
  position: absolute;
  width: 300px;
  height: 80px;
  top: 10px;
  left: 10px;
}

#gamepads .controller .bumpers .bumper {
  position: absolute;
  background-image: none;
  opacity: 1;
  border: #ffffff 2px solid;
  border-radius: 2px;
  background-color: transparent;
}

#gamepads .controller .bumpers .bumper.left {
  top: 0;
  height: 15px;
  width: 45px;
  left: 200px;
  border-color: #ff88ff;
}

#gamepads .controller .bumpers .bumper.left.pressed {
  background-color: #ff88ff;
}

#gamepads .controller .bumpers .bumper.right {
  opacity: 1;
  left: 0;
  top: 30px;
  height: 15px;
  width: 245px;
}

#gamepads .controller .bumpers .bumper.right.pressed {
  background-color: white;
}

#gamepads .controller .triggers {
  position: absolute;
  width: 300px;
  height: 80px;
  top: 10px;
  left: 10px;
}

#gamepads .controller .triggers .trigger {
  display: none;
}

#gamepads .controller .triggers .trigger-button {
  position: absolute;
  background-image: none;
  opacity: 1;
  height: 15px;
  width: 245px;
  border: #ffffff 2px solid;
  border-radius: 2px;
  background-color: transparent;
}

#gamepads .controller .triggers .trigger-button.left {
  opacity: 1;
  top: 47px;
  left: 0;
}

#gamepads .controller .triggers .trigger-button.left.pressed {
  background-color: white;
}

#gamepads .controller .triggers .trigger-button.right {
  display: none;
}

#gamepads .controller .sticks {
  position: absolute;
  width: 300px;
  height: 80px;
  top: 10px;
  left: 10px;
}

#gamepads .controller .sticks .stick {
  position: absolute;
  background-image: none;
  opacity: 1;
  height: 20px;
  width: 20px;
  left: 255px;
  font-size: 40px;
}

#gamepads .controller .sticks .stick.left {
  color: #88ff88;
  top: -10px;
}

#gamepads .controller .sticks .stick.left.pressed:before {
  content: "⬆";
}

#gamepads .controller .sticks .stick.right {
  color: blue;
  top: 30px;
}

#gamepads .controller .sticks .stick.right.pressed:before {
  content: "⬇";
}

#gamepads .controller .arrows, #gamepads .controller .touchpad, #gamepads .controller .quadrant, #gamepads .controller .wheels, #gamepads .controller .dpad, #gamepads .controller .fstick {
  display: none;
}
