<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ギタコン譜面ログ</title>
    <script src="js/vue.global.prod.js"></script>
    <script src="js/app.js" defer></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <ul class="log"
        v-bind:style="{height: settings.laneHeight + 'px', 'background-color': laneBackgroundColor, }">
        <li v-for="item in frameItems" v-bind:class="{up: item[6], down: item[7],}">
            <div class="lane" v-bind:style="{height: settings.frameHeight + 'px'}"
                 v-bind:class="{red: item[0], open: item[5], pick: item[6]||item[7], up: item[6], down: item[7],}"></div>
            <div class="lane" v-bind:style="{height: settings.frameHeight + 'px'}"
                 v-bind:class="{green: item[1], open: item[5], pick: item[6]||item[7], up: item[6], down: item[7],}"></div>
            <div class="lane" v-bind:style="{height: settings.frameHeight + 'px'}"
                 v-bind:class="{blue: item[2], open: item[5], pick: item[6]||item[7], up: item[6], down: item[7],}"></div>
            <div class="lane" v-bind:style="{height: settings.frameHeight + 'px'}"
                 v-bind:class="{yellow: item[3], open: item[5], pick: item[6]||item[7], up: item[6], down: item[7],}"></div>
            <div class="lane" v-bind:style="{height: settings.frameHeight + 'px'}"
                 v-bind:class="{purple: item[4], open: item[5], pick: item[6]||item[7], up: item[6], down: item[7],}"></div>
        </li>
    </ul>
    <div class="form">
        <h3>入力設定</h3>
        <div class="input-buttons">
            <p>
                ネックボタン<br>
                <label for="red">R:<input type="text" size="2" id="red" v-model="settings.buttons[0]"
                                          @change="displayUrl"></label><br>
                <label for="green">G:<input type="text" size="2" id="green" v-model="settings.buttons[1]"
                                            @change="displayUrl"></label><br>
                <label for="blue">B:<input type="text" size="2" id="blue" v-model="settings.buttons[2]"
                                           @change="displayUrl"></label><br>
                <label for="yellow">Y:<input type="text" size="2" id="yellow" v-model="settings.buttons[3]"
                                             @change="displayUrl"></label><br>
                <label for="purple">P:<input type="text" size="2" id="purple" v-model="settings.buttons[4]"
                                             @change="displayUrl"></label>
            </p>
            <p>
                ピック<br>
                <label for="up_pick">&nbsp;&nbsp;UP:<input type="text" size="2" id="up_pick" v-model="settings.picks[0]"
                                                           @change="displayUrl"></label><br>
                <label for="down_pick">DOWN:<input type="text" size="2" id="down_pick" v-model="settings.picks[1]"
                                                   @change="displayUrl"></label>
            </p>
        </div>
        <p>
            プリセット<br>
            <button type="button" v-on:click="inputPreset([4,3,2,1,0,11,12])">KONAMI PREMIUM</button>
            <button type="button" v-on:click="inputPreset([0,1,2,3,4,5,6])">GITALLER</button>
        </p>
        <hr>
        <h3>ゲームオプション設定</h3>
        <p>
            <label for="speed">Speed: <select name="speed" id="speed" v-model="settings.frameHeight"
                                              @change="itemReset">
                <option value="2.25">0.5</option>
                <option value="3">1.0</option>
                <option value="3.75">1.5</option>
                <option value="4.5">2.0</option>
                <option value="6">2.5</option>
                <option value="7">3.0</option>
                <option value="8">3.5</option>
                <option value="9">4.0</option>
                <option value="10">4.5</option>
                <option value="11">5.0</option>
                <option value="12">5.5</option>
                <option value="13">6.0</option>
                <option value="14">6.5</option>
                <option value="15">7.0</option>
                <option value="16">7.5</option>
                <option value="17">8.0</option>
                <option value="18">8.5</option>
                <option value="19">9.0</option>
                <option value="20">9.5</option>
                <option value="21">10.0</option>
                <option value="41">20.0</option>
            </select></label>
        </p>
        <p>
            <label for="reverse">Reverse: <input type="checkbox" name="reverse" id="reverse" v-model="settings.reverse"
                                                 @change="itemReset"></label>
        </p>
        <hr>
        <h3>表示設定・情報</h3>
        <p>
            幅: {{ laneWidth }} px
        </p>
        <p>
            <label for="height">高さ: <input type="text" size="4" id="height" v-model="settings.laneHeight"
                                           @change="itemReset"> px</label>
        </p>
        <p class="mb20">レーン透明度:
            <input type="number" v-model="settings.transparent" name="transparent" id="transparent" min="0" max="100"
                   size="4" @change="displayUrl"> %
        </p>
        <p>表示時間: {{ lifetime }}ms</p>
        <hr>
        <h3 class="mb0">URL（読み取り専用）</h3>
        <p>
            <textarea cols="40" rows="3" readonly v-model="url" onfocus="this.select();" id="url"></textarea>
        </p>
        <h3 class="mb0">カスタムCSS（読み取り専用）</h3>
        <p>
            <textarea cols="40" rows="2" readonly v-model="css" onfocus="this.select();" id="css"></textarea>
        </p>
    </div>
    <div class="instruction">
        <h2>ギタコン譜面ログ</h2>
        <h3>これは何？</h3>
        <p>
            <a href="https://obsproject.com/ja" target="_blank">OBS Studio</a>でギターコントローラの入力ログを譜面で表示するためのツールです。<br>
            ※表示内容がゲームの入力判定と異なる場合があります。
        </p>
        <h3>使用方法</h3>
        <ol>
            <li><span class="title-text">入力設定</span>にお使いのコントローラの各ボタンに対応する数字を入力してください。
                <ul>
                    <li>コナステGITADIRAのコントローラ設定画面と同じ数字です。</li>
                    <li>「プリセット」にボタンが表示されているコントローラはまとめて設定できます。</li>
                </ul>
            </li>
            <li>コントローラのネック・ピックを操作して左の描画領域にログが表示されるか確認してください。
                <ul>
                    <li><span class="title-text">入力設定</span>に空欄や不正な値がある場合は一切動作しません。</li>
                </ul>
            </li>
            <li><span class="title-text">ゲームオプション設定</span>・<span class="title-text">表示設定・情報</span>をお好みで設定してください。<br><br>
                ここまでの設定は「<label for="url">URL</label>」に記録されます。ブラウザでこのURLにアクセスすることで復元できます。
            </li>
            <li>OBSの[ソース]->[+]->[ブラウザ]から以下の設定でソース追加を行ってください。
                <ul>
                    <li><label for="url">URL</label></li>
                    <li>幅（ {{ laneWidth }}px 固定値 ）</li>
                    <li><label for="height">高さ</label></li>
                    <li><label for="css">カスタムCSS</label></li>
                </ul>
            </li>
            <li>ゲームの譜面と同じタイミングで表示するには、OBS上で他の映像・音声を遅延させる必要があります。
                <ul>
                    <li>遅延時間は<span class="title-text">表示設定・情報</span>の「表示時間」が参考になりますが、微調整する必要があるでしょう。（作者は+50msしています）</li>
                    <li>映像は「レンダリング遅延」フィルタを使います。フィルタ1つあたり500msが上限なので、それ以上の場合は複数設定します。</li>
                    <li>音声は「オーディオの詳細プロパティ」の「同期オフセット」で設定します。</li>
                </ul>
            </li>
        </ol>
        <h3>履歴</h3>
        <ul>
            <li>ver002: 2023/01/15 チップグラフィック変更</li>
            <li>ver001: 2022/01/09 初版</li>
        </ul>
        <h3>連絡先</h3>
        <p>Twitter: <a href="https://twitter.com/K_YukiDaruma" target="_blank">@K_YukiDaruma</a></p>
    </div>
</div>
</body>
</html>