$red: (
        "beam": (
                "center": #805761,
                "edge": #250007,
        ),
        "chip": (
                "center": #FFC3B8,
                "middle": #E12F3B,
                "edge": #A42833,
        ),
);

$green: (
        "beam": (
                "center": #4D684D,
                "edge": #08250B,
        ),
        "chip": (
                "center": #B5FBBD,
                "middle": #4CD24E,
                "edge": #35933F,
        ),
);

$blue: (
        "beam": (
                "center": #475A5E,
                "edge": #041A21,
        ),
        "chip": (
                "center": #D6FFFF,
                "middle": #71BFF1,
                "edge": #315E85,
        ),
);

$yellow: (
        "beam": (
                "center": #706857,
                "edge": #181408,
        ),
        "chip": (
                "center": #FFFA8F,
                "middle": #F9DA79,
                "edge": #94712A,
        ),
);

$purple: (
        "beam": (
                "center": #66475F,
                "edge": #2A021F,
        ),
        "chip": (
                "center": #FF80F9,
                "middle": #EF69DD,
                "edge": #7A0465,
        ),
);

$open1: #9D2982;
$open2: #EF4CEA;
$open3: #E3B3E6;

$note-width: 35px;
$note-height: 6px;
$lane-width: 39px;
$beam-width: 7px;
$pick-height: 1px;

$title-color: #84b6aa;

@mixin chip($map) {
  background: radial-gradient(map-get($map, center), map-get($map, middle), map-get($map, edge));
}

@mixin beam($map) {
  background: linear-gradient(to right, map-get($map, edge), 45%, map-get($map, center), 55%, map-get($map, edge));
}

@mixin lane($map) {
  &:before {
    @include beam(map-get($map, beam));
  }
  &:after {
    @include chip(map-get($map, chip));
  }
}

body {
  margin: 0;
  background-color: #222;
  color: white;
  font-family: "BIZ UDゴシック", ui-monospace;
}

#app {
  display: flex;
}

.log {
  background-color: #000000FC;
  padding: 0 40px 0 10px;
  margin: 0;

  li {
    display: flex;
    list-style-type: none;
    position: relative;

    &.up, &.down {
      &:before {
        position: absolute;
        width: $lane-width * 5;
        height: $pick-height;
        top: 50%;
        left: 0;
        background-color: #88888888;
        margin-top: - $pick-height / 2;
        content: '';
      }

      .lane:after {
        content: '';
        position: absolute;
        width: $note-width;
        height: $note-height;
        top: calc(50% - 0.5px);
        margin-top: - $note-height / 2;
        border: none;
      }
    }

    &.down {
      &:before {
        background-color: #A0A0A080;
      }
    }

    &.up {
      &:before {
        background-color: transparent;
      }
    }

    &.down {
      &:after {
        content: url('../img/arrow_down.svg');
        position: absolute;
        top: 50%;
        right: -28px;
        width: 15px;
        margin-top: -7.5px;
      }
    }

    &.up {
      &:after {
        content: url('../img/arrow_up.svg');
        position: absolute;
        top: 50%;
        right: -28px;
        width: 15px;
        margin-top: -7.5px;
      }
    }

    .lane {
      position: relative;
      width: $lane-width;

      &:before {
        content: '';
        position: absolute;
        width: $beam-width;
        height: 100%;
        top: 0;
        left: 50%;
        margin-left: - $beam-width / 2;
      }

      &.red, &.green, &.blue, &.yellow, &.purple {
        &:after {
          border: black 1px solid;
          margin-left: 1px;
        }
      }

      &.red {
        @include lane($red);
      }

      &.green {
        @include lane($green);
      }

      &.blue {
        @include lane($blue);
      }

      &.yellow {
        @include lane($yellow);
      }

      &.purple {
        @include lane($purple);
      }
    }

    &.down, &.up{
      .lane:nth-child(1) {
        &.open {
          &:after {
            background: linear-gradient(to right, $open1, $open2);
            width: $lane-width;
          }
        }
      }
      .lane:nth-child(2) {
        &.open {
          &:after {
            background: linear-gradient(to right, $open2, $open3);
            width: $lane-width;
          }
        }
      }
      .lane:nth-child(3) {
        &.open {
          &:after {
            background-color: $open3;
            width: $lane-width;
          }
          &:before {
            position: absolute;
            top: calc( 50% - 11px );
            left: -3px;
            width: 54px;
            content: url("../img/open.svg");
            z-index: 1;
          }
        }
      }
      .lane:nth-child(4) {
        &.open {
          &:after {
            background: linear-gradient(to right, $open3, $open2);
            width: $lane-width;
          }
        }
      }
      .lane:nth-child(5) {
        &.open {
          &:after {
            background: linear-gradient(to right, $open2, $open1);
            width: $lane-width;
          }
        }
      }
    }
  }
}

.form {
  margin-left: 1rem;
}

.form, .instruction {
  background-color: #000000;
  padding: 0 1rem 1rem;

  p {
    margin: 10px 0;
    line-height: 1.25em;
  }

  button {
    margin-right: 5px;
  }

  .input-buttons {
    display: flex;

    p {
      margin: 0 30px 0 0;
    }
  }

  li {
    padding: 8px 0 0;
    line-height: 1.1em;
  }

  ol > li {
    margin-bottom: 1rem;
  }

  ul {
    padding-left: 1rem;
    list-style-type: disc;
  }

  hr {
    border-color: #222;
  }

  textarea:read-only {
    background-color: #DDD;
  }
}

.instruction {
  label {
    cursor: pointer;
    text-decoration-line: underline;
  }
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

h2, h3, h4, .title-text {
  color: $title-color;
}

a {
  color: #ffd2fb;

  &:visited {
    color: #ffb0f8;
  }
}
