$red: #ff8888;
$green: #88ff88;
$blue: #8888ff;
$yellow: #ffff88;
$purple: #ff88ff;

$width: 456px;
$height: 112px;

$top: 10px;
$left: 10px;

$button-height: 24px;
$button-width: 68px;
$button-border: 4px;
$button-margin: 2px;

$pick-height: 20px;
$pick-width: 380px;

$wailing-height: 42px;
$wailing-width: 31px;

$border-width: 4px;
$border-radius: $border-width;

#gamepads{
    .controller{
        background-image: none;
        background-color: rgba(0,0,0,0.8);

        border-radius: 10px;
        width: $width;
        height: $height;
        .abxy{
            position: absolute;
            width: $width;
            height: $height;
            top: $top;
            left: $left;
            .button{
                position: absolute;
                background-image: none;
                top: 0;
                height: $button-height;
                width: $button-width;
                border: #ffffff $border-width solid;
                border-radius: $border-radius;
                background-color: transparent;

                &.pressed{
                    margin-top: 0;
                }

                //red
                &.a{
                    left: 0;
                    border-color: $red;
                    &.pressed{
                        background-color: $red;
                    }
                }
                //green
                &.b{
                    left: calc( ( #{$button-width} + #{$button-border} * 2 + #{$button-margin} ) * 1 );
                    border-color: $green;
                    &.pressed{
                        background-color: $green;
                    }
                }
                //blue
                &.x{
                    left: calc( ( #{$button-width} + #{$button-border} * 2 + #{$button-margin} ) * 2 );
                    border-color: $blue;
                    &.pressed{
                        background-color: $blue;
                    }
                }
                //yellow
                &.y{
                    left: calc( ( #{$button-width} + #{$button-border} * 2 + #{$button-margin} ) * 3 );
                    border-color: $yellow;
                    &.pressed{
                        background-color: $yellow;
                    }
                }
            }
        }
        .bumpers{
            position: absolute;
            width: $width;
            height: $height;
            top: $top;
            left: $left;
            .bumper{
                position: absolute;
                background-image: none;
                opacity: 1;
                border: #ffffff $border-width solid;
                border-radius: $border-radius;
                background-color: transparent;

                //purple
                &.left{
                    top: 0;
                    height: $button-height;
                    width: $button-width;
                    left: calc( ( #{$button-width} + #{$button-border} * 2 + #{$button-margin} ) * 4 );
                    border-color: $purple;
                    &.pressed{
                        background-color: $purple;
                    }
                }
                //up pick
                &.right{
                    opacity: 1;
                    left: 0;
                    top: 42px;
                    height: $pick-height;
                    width: $pick-width;
                    &.pressed{
                        background-color: white;
                    }
                }
            }
        }
        .triggers{
            position: absolute;
            width: $width;
            height: $height;
            top: $top;
            left: $left;
            .trigger{
                display: none;
            }
            .trigger-button{
                position: absolute;
                background-image: none;
                opacity: 1;
                height: $pick-height;
                width: $pick-width;
                border: #ffffff $border-width solid;
                border-radius: 0 0 $border-radius $border-radius;
                background-color: transparent;
                //down pick
                &.left{
                    opacity: 1;
                    top: 66px;
                    left: 0;
                    &.pressed{
                        background-color: white;
                    }
                }
                &.right{
                    display: none;
                }
            }
        }
        .sticks{
            position: absolute;
            width: $width;
            height: $height;
            top: $top;
            left: $left;
            .stick{
                position: absolute;
                background-image: none;
                background-repeat: no-repeat;
                opacity: 1;
                height: $wailing-height;
                width: $wailing-width;
                left: 400px;

                //wailing up
                &.left{
                    top: -2px;
                    display: block;
                    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20id%3D%22w%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2051%2071%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%2337b823%3Bstroke%3A%23f2f2f2%3Bstroke-miterlimit%3A10%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%2225.43%201.85%2049.44%2025.86%2049.44%2048.85%2035.44%2034.85%2035.44%2069.86%2015.44%2069.86%2015.44%2034.85%201.52%2048.85%201.52%2025.86%2025.43%201.85%22%2F%3E%3C%2Fsvg%3E');
                    filter: grayscale(100%) brightness(80%);
                    &.pressed{
                        filter: none;
                    }
                }
                //wailing down
                &.right{
                    display: block;
                    top: 50px;
                    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20id%3D%22w%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2051%2071%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%234b8fff%3Bstroke%3A%23f2f2f2%3Bstroke-miterlimit%3A10%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%2225.43%2069.86%2049.44%2045.85%2049.44%2022.86%2035.44%2036.85%2035.44%201.85%2015.44%201.85%2015.44%2036.85%201.52%2022.86%201.52%2045.85%2025.43%2069.86%22%2F%3E%3C%2Fsvg%3E');
                    filter: grayscale(100%) brightness(80%);
                    &.pressed{
                        filter: none;
                    }
                }
            }
        }
        .arrows, .touchpad, .quadrant, .wheels, .dpad, .fstick{
            display: none;
        }
    }
}